footer.footer 
    .header__logo 
        img(src="/img/logo-green.png" alt="Natours logo")
    ul.footer__nav 
        li: a(href="#") About us
        li: a(href="#") Download apps
        li: a(href="#") Become a guide
        li: a(href="#") Careers
        li: a(href="#") Contact
    p.footer__copyright &copy; 2025 Mina Shendi. Built as part of 
        a(href="https://www.udemy.com/course/nodejs-express-mongodb-bootcamp/?srsltid=AfmBOooy2Zv9PiU0ufoqE5crChqlC2HYo-yc2XRGqiIOWtC0WE6_zL7j&couponCode=ST10MT30325G2" target="_blank") The Node.js Bootcamp 
        span By
        a(href="https://www.udemy.com/user/jonasschmedtmann/")  Jonas Schmedtmann.

